<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <div class="about">
                    <p>AirDoc est une application marocaine fondée en 2020 
                        qui propose un service de gestion en ligne des consultations 
                        pour les professionnels de santé et un service de prise de rendez-vous en ligne 
                        pour les patients</p>  
                </div>
                                
            </div>
        </div>
    </div>
</div>
