<!-- Breadcrumb -->
<div class="bg-white">

<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">{{doctors.length}} matches found for : {{searchQuery}} In {{searchCity}}
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Search -->
<app-search-box></app-search-box>
<!-- Search end -->

<!-- Page Content -->
<div class="container-fluid bg_dark">
    <div class="row">
        <div class="col-md-12 col-lg-10 p-md-3 p-sm-2 m-auto">
            <app-doctor *ngFor="let doctor of doctors" [doctor]="doctor"></app-doctor>
        </div>
    </div>

</div>
</div>