<div class="row">

    <div class="col-md-12 col-lg-9">

        <!-- About Details -->
        <div class="widget about-widget">
            <h4 class="widget-title">About Me</h4>
            <p>{{doctor?.aboutMe}}</p>
        </div>
        <!-- /About Details -->


        <!-- Services List -->
        <div class="service-list">
            <h4>Services</h4>
            <ul class="clearfix">
                <li *ngFor="let service of clinic?.services">{{service}} </li>
            </ul>
        </div>
        <!-- /Services List -->

        <!-- Specializations List -->
        <div class="service-list">
            <h4>Specializations</h4>
            <ul class="clearfix">
                <li *ngFor="let speciality of clinic?.specialities">{{speciality}} </li>
            </ul>
        </div>
        <!-- /Specializations List -->
    </div>

</div>