 video {
    border: 5px solid black;
    /* width: 320px; */
    /* height: 240px; */
    width: 100%;
    height: 100%;
} 

#container {
    width: 100%;
    position: relative;
}

#locale {
    width: 200px;
    height: 200px;
    position:  absolute;
    top: 10px;
    left: 10px;
    /* z-index: 40000; */
}

.thumbnail {
    width: 200px;
    height: 200px;
    position:  absolute;
    top: 10px;
    left: 10px;
}

