<div class="container-fluid mb-3 m-2">
    <div class="row">
        <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
            <app-doctor-side-bar [avatar]="avatar"></app-doctor-side-bar>
        </div>
        <div class="col-md-7 col-lg-8 col-xl-9">
            <div class="row">
                <div class="col-6">
                    <video id="vid1" playsinline autoplay muted></video>
                    
                    <br>
                    <button class="btn btn_primary"   (click)="start()">Start</button>
                    <button class="btn btn_primary"  id="callButton" [disabled]="callButtonDisabled" (click)="call()">Call</button>
                    <button  class="btn btn_primary" id="acceptButton" (click)="accept()">Accept</button>
                    <button class="btn btn_primary"  id="hangUpButton" (click)="stop()">Hang Up</button>
                </div>
                <div class="col-6">
                    <video id="vid2" playsinline autoplay></video>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script> -->
