<div class="main-wrapper">
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Patient</a></li>
                            <li class="breadcrumb-item active" aria-current="page">editPassword</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Change Password</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- Profile Sidebar -->
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                    <app-doctor-side-bar [avatar]="avatar"></app-doctor-side-bar>
                </div>


                <div class="col-md-7 col-lg-8 col-xl-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                        <input type="password" class="form-control floating" name="oldPassword"
                                            [(ngModel)]="form.oldPassword" required minlength="8" maxlength="20"
                                            #oldPassword="ngModel">
                                        <label class="focus-label">Old Password</label>
                                        <div class="alert-danger" *ngIf="f.submitted && oldPassword.invalid">
                                            <div *ngIf="oldPassword.errors.required">Password is required</div>
                                            <div *ngIf="oldPassword.errors.minlength">
                                                Password must be at least 8 characters
                                            </div>
                                            <div *ngIf="oldPassword.errors.maxlength">
                                                Password must be at most 20 characters
                                            </div>
                                        </div>
                                        <input type="password" class="form-control floating" name="newPassword"
                                            [(ngModel)]="form.newPassword" required minlength="8" maxlength="20"
                                            #newPassword="ngModel">
                                        <label class="focus-label">New Password</label>
                                        <div class="alert-danger" *ngIf="f.submitted && newPassword.invalid">
                                            <div *ngIf="newPassword.errors.required  && !successMessage">Password is required</div>
                                            <div *ngIf="newPassword.errors.minlength">
                                                Password must be at least 8 characters
                                            </div>
                                            <div *ngIf="newPassword.errors.maxlength">
                                                Password must be at most 20 characters
                                            </div>
                                        </div>
                                        <input type="password" class="form-control floating" name="confirmPassword"
                                            [(ngModel)]="form.confirmPassword" required minlength="8" maxlength="20"
                                            #confirmPassword="ngModel">
                                        <label class="focus-label">Confirm New Password</label>
                                        <div class="alert-danger" *ngIf="f.submitted && confirmPassword.invalid">
                                            <div *ngIf="confirmPassword.errors.required && !successMessage">Password is required</div>
                                            <div *ngIf="confirmPassword.errors.minlength">
                                                Password must be at least 8 characters
                                            </div>
                                            <div *ngIf="confirmPassword.errors.maxlength">
                                                Password must be at most 20 characters
                                            </div>
                                            
                                        </div>
                                        <div class="alert alert-danger"  *ngIf="!passwordMatch">
                                            new Password and Confirm Password must match
                                        </div>
                                        <div class="alert alert-danger" *ngIf="f.submitted && isPasswordFailed">
                                            Password failed!<br />{{ errorMessage }}
                                        </div>
                                        <div class="alert alert-success" *ngIf="f.submitted && successMessage ">
                                            <br/>
                                            <b>Success</b>{{ successMessage }}
                                        </div>
                                        <div class="submit-section">
                                            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                                        </div>
                                    </form>
                                    <!-- /Change Password Form -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>