<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <!-- Account Content -->
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="assets/img/login-banner.png" class="img-fluid" alt="Login Banner">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Doctor Register <a routerLink="patient/signup">Not a Doctor?</a></h3>
                            </div>

                            <!-- Register Form -->
                            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                                novalidate>
                                
                                <div class="form-group form-focus">
                                    <input type="text" class="form-control floating" name="firstname"
                                        [(ngModel)]="form.firstname" required minlength="3" maxlength="20"
                                        #firstname="ngModel">
                                    <label class="focus-label">First Name</label>
                                    <div class="alert-danger" *ngIf="f.submitted && firstname.invalid">
                                        <div *ngIf="firstname.errors.required">First Name is required</div>
                                        <div *ngIf="firstname.errors.minlength">
                                            First Name must be at least 3 characters
                                        </div>
                                        <div *ngIf="firstname.errors.maxlength">
                                            First Name must be at most 20 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-focus">
                                    <input type="text" class="form-control floating" name="lastname"
                                        [(ngModel)]="form.lastname" required minlength="3" maxlength="20"
                                        #lastname="ngModel">
                                    <label class="focus-label">Last Name</label>
                                    <div class="alert-danger" *ngIf="f.submitted && lastname.invalid">
                                        <div *ngIf="lastname.errors.required">Last Name is required</div>
                                        <div *ngIf="lastname.errors.minlength">
                                            Last Name must be at least 3 characters
                                        </div>
                                        <div *ngIf="username.errors.maxlength">
                                            Last Name must be at most 20 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-focus">
                                    <input type="text" class="form-control floating" name="username"
                                        [(ngModel)]="form.username" required minlength="3" maxlength="20"
                                        #username="ngModel">
                                    <label class="focus-label">Username</label>
                                    <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                                        <div *ngIf="username.errors.required">Username is required</div>
                                        <div *ngIf="username.errors.minlength">
                                            Username must be at least 3 characters
                                        </div>
                                        <div *ngIf="username.errors.maxlength">
                                            Username must be at most 20 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-focus">
                                    <input type="tel" class="form-control floating" name="phone"
                                    [(ngModel)]="form.phone" required minlength="8" maxlength="20"
                                    #phone="ngModel">
                                    <label class="focus-label">Phone Number</label>
                                    <div class="alert-danger" *ngIf="f.submitted && phone.invalid">
                                        <div *ngIf="phone.errors.required">Phone Number is required</div>
                                        <div *ngIf="phone.errors.minlength">
                                            Phone Number must be at least 8 characters
                                        </div>
                                        <div *ngIf="phone.errors.maxlength">
                                            Phone Number must be at most 20 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-focus">
                                    <input type="email" class="form-control floating" name="email"
                                        [(ngModel)]="form.email" required minlength="10" maxlength="50"
                                        #email="ngModel">
                                    <label class="focus-label">Email</label>
                                    <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                                        <div *ngIf="email.errors.required">Email is required</div>
                                        <div *ngIf="email.errors.minlength">
                                            Email must be at least 10 characters
                                        </div>
                                        <div *ngIf="email.errors.maxlength">
                                            Email must be at most 50 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-focus">
                                    <input type="password" class="form-control floating" name="password"
                                    [(ngModel)]="form.password" required minlength="8" maxlength="20"
                                    #password="ngModel">
                                    <label class="focus-label">Create Password</label>
                                    <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                                        <div *ngIf="password.errors.required">Password is required</div>
                                        <div *ngIf="password.errors.minlength">
                                            Password must be at least 8 characters
                                        </div>
                                        <div *ngIf="password.errors.maxlength">
                                            Password must be at most 20 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <a class="forgot-link" routerLink="/doctor/login">Already have an account?</a>
                                </div>
                                <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Signup</button>
                                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                                    Signup failed!<br />{{ errorMessage }}
                                </div>
                            </form>
                            <div class="alert alert-success" *ngIf="isSuccessful">
                                Your registration is successful!
                              </div>
                            <!-- /Register Form -->

                        </div>
                    </div>
                </div>
                <!-- /Account Content -->

            </div>
        </div>

    </div>

</div>