<div class="search-box p-lg-2 m-lg-2">
    <form>
        <div class="row p-2">
            <div class="col-lg-2 col-xs-12">
                <div class="form-group search-location">
                    <input #city type="text" class="form-control" placeholder="Search City">
                    <span class="form-text">Based on your City</span>
                </div>
            </div>
            <div class="col-lg-8 col-xs-12">
                <div class="form-group search-info">
                    <input #query type="text" class="form-control"
                        placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc">
                    <span class="form-text">Ex : Dental or Sugar Check up etc</span>
                </div>
            </div>
            <div class="col-lg-2 col-xs-12">
                <button (click)="search(city.value, query.value)" type="submit" class="btn btn_primary w-100"><i
                        class="fa fa-search"></i> <span>Search</span></button></div>
        </div>
    </form>
</div>
